body {
  padding: 0;
  margin: 0;
  background-image: url("../images/bg.jpg");
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.header{
  height: 150px;
}

.container {
  height: 800px;
}

.content {
  background-color: #f17008;
  float: left;
  height: 100%;
  width: 660px;
}

.inner-content {
  padding: 20px 20px;
}

.nav {
  background-color: #f601ff;
  float: left;  
  width: 300px;
  height: 100%;
}

.nav > ul {
  list-style: none;
}

.nav li {
  margin-bottom: 20px;
}

.nav a {
  color: #000;
  font-size: 18px;
}